<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 지도에 표시하고 주변 장소를 추천하기 위해 위치 정보가 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>러닝 중 실시간 위치 추적을 위해 위치 정보가 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>프로필 사진 촬영을 위해 카메라 접근이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 사진 선택을 위해 사진 라이브러리 접근이 필요합니다.</string>
</dict>
</plist>
